name: GraalVM Check

on: 
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Set up GraalVM
              uses: graalvm/setup-graalvm@v1
              with:
                  version: 'latest'
                  java-version: '11'
                  components: 'native-image'
                  github-token: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Check GraalVM installation
              run: |
                  echo "GRAALVM_HOME: ${{ env.GRAALVM_HOME }}"
                  echo "JAVA_HOME: ${{ env.JAVA_HOME }}"
                  native-image --version
            
            - name: Set Up Ballerina
              uses: ballerina-platform/setup-ballerina@v1.1.0
              with:
                version: latest

            - name: Run Ballerina tests using the native executable
              run: bal test --graalvm ./netsuite
              env:
                JAVA_HOME: /usr/lib/jvm/default-jvm
                NS_BASE_URL: ${{ secrets.BASEURL }}
                NS_TOKEN_SECRET: ${{ secrets.TOKENSECRET }}
                NS_TOKEN: ${{ secrets.TOKEN }}
                NS_CLIENT_ID: ${{ secrets.CONSUMERID }}
                NS_CLIENT_SECRET: ${{ secrets.CONSUMERSECRET }}
                NS_ACCOUNTID: ${{secrets.ACCOUNTID}}
